@media only screen and (min-width:300px) and (max-width:997px) {
    .bg-book-blue{
        background-image: url(../img/bg/bg-blue.avif);
        height: 830px;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


    .rounder-border{
        height: 300px;
        width: 300px;
    
       }
    .banner{
        height: 200px;
        width: 100%;
    }

    .enquiry-links {
        display: none;
    }

    .desktop-none {
        display: block;
    }

    .w-sm-100 {
        width: 100%;
    }

    nav {
        padding: 5px 10px;
    }

    nav .nav_links {
        display: block;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0px;
        transform-origin: top;
        transform: scaleY(0);
        transition: all 0.3s ease-in-out;
    }


    .openmenu {
        transform: scaleY(1) !important;
    }

}

@media only screen and (min-width:998px) and (max-width:3000px) {
 .baglur-school{
background-image: url('../img/banner/b1.avif');
height: 350px;
width: 100%;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
 }
 
    .bg-book-blue{
        background-image: url('../img/bg/bg-blue.avif');
        height: 400px;
        width: 100%;
        background-position:center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .rounder-border{
    height: 300px;
    width: 300px;

   }

    
    .banner{
        height: 400px;
        width: 100%;
    }

    .enquiry-links {
        display: flex;
    }

    nav {
        padding: 5px 100px;
    }

    .desktop-none {
        display: none;
    }

    nav .nav_links {
        position: relative;
        display: flex;
    }
}